.git
.gradle
.kotlin
.idea
Pods
.bundle
.signing
.xcode.env.local
**/.cxx
.local
**/build
**/node_modules
**/.env
**/.env.*
!**/.env.example
DerivedData
Distributions
local.properties
*.xcresult
*.p12
*.jks
*.keystore
